# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

error.png

/snaca-two-tone-preview.html
/data/

# file
new_categories.md
drink_menu.md
food_menu.md
category_menu.md
none-img-menu.xlsx
remain_menu_without_system.md
new_herobackground.jpg
remake_new_menu.zip